@media (max-width:750px)
{
   
    section
    {
        padding: 5px;
        background-color: rgba(248, 246, 246, 0.3);    
    }
    section ul{
       width: 480px;
    }

    .card
    {
        width: 150px;
    }
    
}