@media (max-width:750px)
{
   
    section
    {
        padding: 5px;
        background-color: rgba(248, 246, 246, 0.3);    
    }
    section ul{
       width: 400px;
    }

    .card
    {
        width: 150px;
    }
    
}

@media (max-width: 410px){
    section ul{
        width: 100%;
        padding: 0px 5px;
       max-width: 290px;
    }
    .card{
        width: 120px;
    }
}